html {
    font-size: calc(0.63vh + 0.63vw);
    height: 100%
}

body {
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file_input {
    display: none;
}

#browse_button {
    height: 5rem;
    width: 15rem;
}